* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    color: white;
    background-color: black;
    font-family: 'Courier New', Courier, monospace;
}

header, footer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px 35px;
    background-image: url(https://media.giphy.com/media/RFsddEHX0UOQ/giphy.gif); 
    background-size: cover;
    background-position: 80%;
}

h1 {
    color: white; 
    font-weight: bold;
    font-size: 50px;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

h2 {
    color: white; 
    font-weight: bold;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    font-size: 35px; 
}

header a, footer, footer a {
    text-decoration: none;
    color: white;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    font-size: 24px;
}

header nav {
    margin: 7px, 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    font-size: 20px;
}

header nav ul li a, footer {
    padding: 10px 15px;    
}

header nav ul li a:hover {
    background: rgba(255, 255, 255, .25);
    border-radius: 15px;
}

.about-me {
    width: 100%;
    display: flex;
    
   
}

.about-me img {
    width: 45%;
    display: flex;
    padding-left: 35px;   
}

.projects {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
    
}


.run-buddy {
    display: flex;
    width: 70%;
    
}

.run-buddy img {
    width: 100%;
    display: flex;
    
}

.coming-soon {
    display: flex;
    width: 100%;
    align-content: space-between;
}


.coming-soon1 img, .coming-soon2 img, .coming-soon3 img {
    display: flex;
    flex-direction: row;
    width: 100%;
}
