* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    color: white;
    background-color: black;
    font-family: 'Courier New', Courier, monospace;
}

header, footer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px 35px;
    background-image: url(https://media.giphy.com/media/RFsddEHX0UOQ/giphy.gif); 
    background-size: cover;
    background-position: 80%;
}

h1 {
    color: white; 
    font-weight: bold;
    font-size: 50px;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

h2 {
    color: white; 
    font-weight: bold;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    font-size: 35px; 
    margin-left: 7px;
}

header a, footer, footer a {
    text-decoration: none;
    color: white;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    font-size: 24px;
}

header nav {
    margin: 7px, 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    font-size: 20px;
}

header nav ul li a, footer {
    padding: 10px 15px;    
}

header nav ul li a:hover {
    background: rgba(255, 255, 255, .25);
    border-radius: 15px;
}

/* About Me Styles Begin */

.about-me {
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 10px;
}

.about-me img {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}

.about-me-text h3 {
    font-size: 40px;
    align-content: center;
    justify-content: center;
    margin-left: 7px;
}


.about-me-text p {
    flex-direction: row;
    width: 100%;
    font-size: 20px;
    flex-wrap: wrap;
    margin-left: 7px;
}
/* About Me Styles End*/

/* Projects Styles Begin  */
.projects {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
    
}

.projects-h2 {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    text-decoration: white underline;
}


.run-buddy {
    display: flex;
    width: 70%;  
}

.run-buddy img {
    width: 100%;
    display: flex;
    
}

.coming-soon {
    display: flex;
    width: 100%;
    align-content: space-between;
}

.poke-encyclopedia img, .campfire img, .coming-soon3 img {
    display: flex;
    flex-direction: row;
    width: 100%;
}

/* Projects Styles End */

/* Media Queries Begin */

@media screen and (max-width: 980px) {
    header {
        padding-bottom: 0;
        justify-content: center;
    }

    header h1 {
        width: 100%;
        text-align: center;
    }

    header nav ul {
        margin-top: 20%;
        width: 100%;
        justify-content: center;
    }

    header nav ul li a {
        font-size: 20px;
    }

    footer div {
        text-align: center;
        width: 100%;
    }

    .about-me {
        width: 100%;
    }

    .about-me-text {
        text-align: center;
    }

    .projects {
        width:100%;
    }

    .projects {
        flex: 0 70%;
    }
}

@media screen and (max-width: 768px) {

    .about-me {
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
        margin-top: 0px;
    }

    .projects-h2 {
        display: flex;
        justify-content: center;
        margin-bottom: 10px;
    }
    
    .run-buddy {
        display: flex;
        width: 100%;  
    }

    .footer {
        display: flex;
        justify-content: center;
    }
}
